@charset "UTF-8";
/* header */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-bg-color: #e5e5e5;
  --header-bg-color: #ffffff;
  --logo-text-studio: #000000;
  --footer-bg-color: #2f303a;
  --border-color: #eeeeee;
  --comand-bg-color: #f5f4fa;
  --hero-bg-color: #c4c4c4;
  --customers-border-color: #afb1b8;
  --backdrop-color: #0000001a;
  --overlay-progects: rgba(33, 150, 243, 0.9);
}

.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
  }
}

body {
  background-color: var(--header-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (min-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
@media screen and (min-width: 480px) {
  .section__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .section__title {
    margin-bottom: 50px;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

ul,
a {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
::after,
::before {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowarp;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.centered {
  text-align: center;
}

.header {
  background-color: var(--header-bg-color);
  border-bottom: 1px solid var(--border-color);
}

.nav-head {
  display: flex;
  align-items: center;
}

.header__conteiner {
  width: 1200px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo .logo__web {
  display: inline-block;
  color: var(--accent-text-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo .logo__studio {
  color: var(--logo-text-studio);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-text-color);
}
.site-nav__link--current {
  color: var(--accent-text-color);
}
.site-nav__link::after {
  content: " ";
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
}
.site-nav__link--current::after {
  opacity: 1;
  visibility: visible;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-header {
  display: flex;
  margin-left: auto;
}
.contacts-header .contacts-header__icon {
  margin-right: 10px;
}
.contacts-header .contacts-header__link {
  display: flex;
  align-items: normal;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
  fill: var(--primary-text-color);
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-header .contacts-header__link:not(:last-child) {
  margin-left: 0;
}
.contacts-header .contacts-header__link:hover {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}
.contacts-header .contacts-header__link:focus {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

/* основной блок */
.button {
  color: var(--title-text-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: var(--accent-text-color);
  color: var(--header-bg-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}

.portfolio-nav__btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 50px;
}
.portfolio-nav__btn:hover {
  background-color: var(--accent-text-color);
  color: var(--header-bg-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}

.hero__button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: var(--accent-text-color);
  color: var(--header-bg-color);
  border-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border-radius: 4px;
  cursor: pointer;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit-ft {
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: transparent;
  color: var(--header-bg-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: start;
  padding-left: 29px;
}
.btn-submit-ft__icon {
  position: absolute;
  right: 28px;
  fill: var(--header-bg-color);
}

.btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--header-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal__icon {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 17px;
  fill: var(--logo-text-studio);
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal__icon:hover {
  fill: var(--accent-text-color);
}
.btn-modal:hover {
  border: 1px solid var(--accent-text-color);
}

.btn-submit {
  display: block;
  border-radius: 4px;
  border-color: transparent;
  color: var(--header-bg-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 56px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background-color: var(--hero-bg-color);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  background: rgba(47, 48, 58, 0.4);
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image.png);
}
.hero .hero__title {
  width: 696px;
  margin: 0 auto;
  color: var(--header-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero {
  background-color: var(--hero-bg-color);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  background: rgba(47, 48, 58, 0.4);
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image.png);
}
.hero .hero__title {
  width: 696px;
  margin: 0 auto;
  color: var(--header-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.advantage-studio {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .advantage-studio {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}
.advantage-studio .advantage-studio__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .advantage-studio .advantage-studio__item {
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage-studio .advantage-studio__item {
    width: calc(25% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
.advantage-studio .advantage-studio__title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantage-studio .advantage-studio__text {
  color: var(--primary-text-color);
  line-height: 1.71;
}

.advantage-img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 4px;
  background-color: var(--comand-bg-color);
}
.advantage-img .advantage-img__svg {
  padding: 25px 0;
}

.section--outher-bg {
  background-color: var(--comand-bg-color);
}

.team {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}
.team .team__item {
  width: 450px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  margin-bottom: 30px;
}
.team .team__item:nth-child(n+4) {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .team .team__item {
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team .team__item {
    width: calc(25% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
.team .team__card {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.team .team__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: center;
}
.team .team__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
}

.social {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 16px;
  cursor: pointer;
}
.social .social__link {
  display: flex;
  justify-content: center;
  background-color: var(--header-bg-color);
  width: 44px;
  height: 44px;
  border-radius: 20px;
  margin-right: 10px;
  fill: var(--customers-border-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social .social__link:hover {
  background-color: var(--accent-text-color);
  fill: var(--header-bg-color);
}
.social .social__link:last-child {
  margin-right: 0;
}

.customers {
  margin-bottom: -30px;
}
@media screen and (min-width: 480px) {
  .customers {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}
@media screen and (min-width: 768px) {
  .customers {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}
.customers .customers__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .customers .customers__item {
    width: calc(50% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .customers .customers__item {
    width: calc(33.3333333333% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .customers .customers__item {
    width: calc(16.6666666667% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
.customers .customers__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 30px;
  justify-content: space-around;
  border: 1px solid var(--customers-border-color);
  border-radius: 4px;
  border-color: var(--customers-border-color);
  cursor: pointer;
  fill: var(--customers-border-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers .customers__link:hover, .customers .customers__link:focus {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
}
.customers .customers__logo {
  fill: var(--customers-border-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers .customers__logo:hover {
  fill: var(--accent-text-color);
}

.card-text {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.card-text .card-text__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-text .card-text__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.875;
}

.absolt {
  overflow: hidden;
  position: relative;
}
.absolt .absolt__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-progects);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  color: var(--header-bg-color);
  font-size: 18px;
  line-height: 1.5555;
  letter-spacing: 0.03em;
  padding: 63px 24px 63px 24px;
}
.absolt::before {
  position: absolute;
  display: inline-block;
  background-color: var(--overlay-progects);
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.absolt:hover::before {
  opacity: 1;
}
.absolt:hover.absolt::before {
  transform: translateY(0);
}
.progects__links:hover .absolt__text, .progects__links:focus .absolt__text {
  transform: translateY(0);
  opacity: 1;
}

.progects {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.progects__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.progects__item:nth-child(3n) {
  margin-right: 0;
}

.progects__links {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.progects__links:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-nav {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.portfolio-nav .portfolio-nav__item {
  margin-right: 8px;
}

.footer-bg {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-fr {
  color: var(--header-bg-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-fr .logo-fr__web--accent {
  color: var(--accent-text-color);
}

.footer-adress {
  margin-top: 20px;
}

.contacts-list .contacts-list__adress {
  color: var(--header-bg-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
}
.contacts-list .contacts-list__contacts {
  font-style: normal;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}
.contacts-list .contacts-list__contacts--tel {
  margin-bottom: 0;
}

.footer-conteiner {
  display: flex;
  align-items: baseline;
}

.footer-list-contacts {
  display: block;
  margin-bottom: 9px;
}

.invisible-header {
  display: none;
}

.title-footer {
  color: var(--header-bg-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social {
  display: flex;
}
.footer-social .footer-social__icon {
  fill: rgba(255, 255, 255, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social .footer-social__icon:hover {
  fill: var(--accent-text-color);
}
.footer-social .footer-social__item {
  margin-right: 10px;
}
.footer-social .footer-social__item:last-child {
  margin-right: 0;
}

.social-footer {
  margin-left: 70px;
}

.subscription-footer {
  display: flex;
  flex-direction: column;
  margin-left: 92px;
}
.subscription-footer .subscription-footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-bg-color);
}

.form-footer {
  position: relative;
  display: flex;
  align-items: center;
}
.form-footer .form-footer__input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  padding: 15px 15px 16px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--footer-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: flex-end;
  min-width: 528px;
  min-height: 521px;
  background-color: var(--header-bg-color);
  border-radius: 4px;
  padding: 40px;
}
.modal .modal__title {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
  margin-bottom: 12px;
  text-align: center;
}

.form {
  width: 448px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form-field .form-field__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 11px 12px 11px 40px;
}
.form-field .form-field__input::placeholder {
  color: var(--primary-text-color);
}
.form-field .form-field__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}
.form-field .form-field__icon-form {
  position: absolute;
  display: inline-block;
  top: 55%;
  left: 12px;
  transform: translateY(-55%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:focus-within .form-field__icon-form {
  fill: var(--accent-text-color);
}
.form-field:focus-within .form-field__input {
  border: 1px solid var(--accent-text-color);
}

.form-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px 12px;
}

.form-input:focus + .form-field input {
  border-color: var(--accent-text-color);
}

.form-label a {
  color: var(--accent-text-color);
  text-decoration: revert;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  /* position: absolute;
  width: 1px; 
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0; 
  clip: rect(0 0 0 0);
  overflow: hidden; */
}

.icon-checkbox {
  display: inline-block;
  margin-right: 8px;
  width: 15px;
  height: 16px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
}

.checkbox:checked + .icon-checkbox {
  border-color: var(--accent-text-color);
  background-size: contain;
  background-origin: border-box;
  background-color: var(--accent-text-color);
  background-image: url(../icon/icon-check-new.svg);
}

.form-checkbox input[type=checkbox] {
  width: 16px;
  height: 15px;
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 30px;
}

.section--no-pading-top {
  padding-top: 0;
}

.direction {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1199px) {
  .direction {
    display: none;
  }
}
.direction .direction__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
  margin-top: 30px;
}
.direction .direction__label {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: block;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  color: var(--header-bg-color);
  font-weight: 700;
  line-height: 1.1428;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .section__title--displayNone {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */