.nav-head {
    display: flex;
    align-items: center;
}

.portfolio-nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 40px;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        }
                @media screen and (min-width: 1200px) {
                    display: flex;
                    flex-wrap: nowrap;
                }
}

.portfolio-nav__item {
    margin-right: 8px;
}

