.nav-head {
    display: flex;
    align-items: center;
    
}

.portfolio-nav {
    column-gap: 8px;
    row-gap: 15px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;
    
    
    @media screen and (min-width: 768px) {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 30px;
        }
                @media screen and (min-width: 1200px) {
                    display: flex;
                    flex-wrap: nowrap;
                    margin-bottom: 50px;
                }
}



.portfolio-nav__item{
   
    @media screen and (min-width: 768px){
        margin-top: 0;
    }
    }
    
    .portfolio-nav__item:nth-child(-n+3){
        margin-top: 0;
        
    }
