
                :root {
                    --primary-text-color: #757575;
                    --title-text-color: #212121;
                    --accent-text-color: #2196f3;
                    --primary-bg-color: #e5e5e5;
                    --header-bg-color: #ffffff;
                    --logo-text-studio: #000000;
                    --footer-bg-color: #2f303a;
                    --border-color: #eeeeee;
                    --comand-bg-color: #f5f4fa;
                    --hero-bg-color: #c4c4c4;
                    --customers-border-color: #afb1b8;
                    --backdrop-color: #0000001a;
                    --overlay-progects: rgba(33, 150, 243, 0.9);
                }






